<div flex layout="column" class="led">
    <div layout-align="center center">
        <md-button class="md-raised x2" ng-click="select(10)">
            <i class="fa fa-fw fa-power-off"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(11)" style="background: #ff0000;">
            R
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="background: #00ff00;">
            G
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="background: #0000ff;">
            B
        </md-button>
        <md-button class="md-raised" ng-click="select(11)">
            W
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(11)" style="color: #ff0000;">
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="color: #00ff00;">
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="color: #0000ff;">
        </md-button>
        <md-button class="md-raised" ng-click="select(11)">
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(11)" style="color: #ff0000;">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="color: #00ff00;">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="color: #0000ff;">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select(11)">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(11)" style="color: #ff0000;">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="color: #00ff00;">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select(11)" style="color: #0000ff;">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select(11)">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(11)">
            F1
        </md-button>
        <md-button class="md-raised" ng-click="select(11)">
            F2
        </md-button>
        <md-button class="md-raised" ng-click="select(11)">
            J1
        </md-button>
        <md-button class="md-raised" ng-click="select(11)">
            J2
        </md-button>
    </div>
</div>
