.features {
  text-align: center;
}
.feature {
  text-align: left;
  padding: 0 15px;
  display: inline-block;
  min-width: 120px;
}
.feature .feature-1x {
  width: 120px;
}
.feature .feature-2x {
  width: 180px;
}
