<div flex layout="column" class="led">
    <div layout-align="center center">
        <md-button class="md-raised x2" ng-click="select('ff02fd')">
            <i class="fa fa-fw fa-power-off"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff1ae5')" style="background: #ff0000;">
            R
        </md-button>
        <md-button class="md-raised" ng-click="select('ff9a65')" style="background: #00ff00;">
            G
        </md-button>
        <md-button class="md-raised" ng-click="select('ffa25d')" style="background: #0000ff;">
            B
        </md-button>
        <md-button class="md-raised" ng-click="select('ff22dd')">
            W
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff2ad5')" style="background: #C5420C;">
        </md-button>
        <md-button class="md-raised" ng-click="select('ffaa55')" style="background: #649951;">
        </md-button>
        <md-button class="md-raised" ng-click="select('ff926d')" style="background: #1c3d80;">
        </md-button>
        <md-button class="md-raised" ng-click="select('ff12ed')" style="background: #eeeeee;">
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff28d7')" style="color: #ff0000;">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ffa857')" style="color: #00ff00;">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff6897')" style="color: #0000ff;">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff3ac5')">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff08f7')" style="color: #ff0000;">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff8877')" style="color: #00ff00;">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff48b7')" style="color: #0000ff;">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ffba45')">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff609f')">
            F3
        </md-button>
        <md-button class="md-raised" ng-click="select('ffe01f')">
            F7
        </md-button>
        <md-button class="md-raised" ng-click="select('ff20df')">
            J3
        </md-button>
        <md-button class="md-raised" ng-click="select('ffa05f')">
            J7
        </md-button>
    </div>
</div>
