<div layout="row">
    <div flex="30" layout layout-align="start center">
        <span class="md-body-1">{{ feature.displayName }}</span>
    </div>
    <div flex layout="column" class="led">
        <div layout-align="center center">
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 10 }" ng-click="select(10)">C1</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 11 }" ng-click="select(11)">C1</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 12 }" ng-click="select(12)">C1</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 13 }" ng-click="select(13)">C1</md-button>
        </div>
        <div layout-align="center center">
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 14 }" ng-click="select(14)">C2</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 15 }" ng-click="select(15)">C2</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 16 }" ng-click="select(16)">C2</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 17 }" ng-click="select(17)">C2</md-button>
        </div>
        <div layout-align="center center">
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 18 }" ng-click="select(18)">C3</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 19 }" ng-click="select(19)">C3</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 20 }" ng-click="select(20)">C3</md-button>
            <md-button class="md-raised" ng-class="{ 'md-primary': feature.state.mode == 21 }" ng-click="select(21)">C3</md-button>
        </div>
    </div>

</div>
