<div flex layout="column" class="remote">
    <div layout-align="center center">
        <md-button class="md-raised x2" ng-click="select('ff02fd')" aria-label="Power">
            <i class="fa fa-fw fa-power-off"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff1ae5')" style="background: #ff0000;">
            R
        </md-button>
        <md-button class="md-raised" ng-click="select('ff9a65')" style="background: #00ff00;">
            G
        </md-button>
        <md-button class="md-raised" ng-click="select('ffa25d')" style="background: #0000ff;">
            B
        </md-button>
        <md-button class="md-raised" ng-click="select('ff22dd')">
            W
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff2ad5')" style="background: #C5420C;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select('ffaa55')" style="background: #649951;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select('ff926d')" style="background: #1c3d80;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select('ff12ed')" style="background: #eeeeee;" aria-label="Color">
        </md-button>
    </div>
    <!--
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(0x)" style="background: #CA6141;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #62979F;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #443357;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #bbbbbb;" aria-label="Color">
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(0x)" style="background: #D48923;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #538CA9;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #538CA9;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #aaaaaa;" aria-label="Color">
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select(0x)" style="background: #C8A24F;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #7094B4;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #BD93B7;" aria-label="Color">
        </md-button>
        <md-button class="md-raised" ng-click="select(0x)" style="background: #909090;" aria-label="Color">
        </md-button>
    </div>
    -->
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff28d7')" style="color: #ff0000;" aria-label="More Red">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ffa857')" style="color: #00ff00;" aria-label="More Green">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff6897')" style="color: #0000ff;" aria-label="More Blue">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff3ac5')" aria-label="More intensity">
            <i class="fa fa-fw fa-arrow-up"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff08f7')" style="color: #ff0000;" aria-label="Less Red">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff8877')" style="color: #00ff00;" aria-label="Less Green">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ff48b7')" style="color: #0000ff;" aria-label="Less Blue">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
        <md-button class="md-raised" ng-click="select('ffba45')" aria-label="Less intensity">
            <i class="fa fa-fw fa-arrow-down"></i>
        </md-button>
    </div>
    <div layout-align="center center">
        <md-button class="md-raised" ng-click="select('ff609f')">
            F3
        </md-button>
        <md-button class="md-raised" ng-click="select('ffe01f')">
            F7
        </md-button>
        <md-button class="md-raised" ng-click="select('ff20df')">
            J3
        </md-button>
        <md-button class="md-raised" ng-click="select('ffa05f')">
            J7
        </md-button>
    </div>
</div>
