<div>
    <ol class="breadcrumb">
        <li ng-repeat="c in p.crumbs">
            <a ng-if="$last" class="active" href="">{{c.displayName}}</a>
            <a ng-if="!$last" ui-sref="partition({partitionId: c.id})">{{c.displayName}}</a>
        </li>
    </ol>
</div>
<md-content flex layout="column">
    <md-list>
        <!--<md-subheader class="md-no-sticky">Clickable Items with Secondary Controls</md-subheader>-->

        <div ng-repeat="device in p.devices | orderBy : 'displayPriority'">
            <md-subheader class="md-no-sticky">
                <span ng-if="device.displayIcon" class="{{device.displayIcon}}"></span>
                {{device.displayName}}
            </md-subheader>
            <md-list-item>
                <div class="features">
                    <feature ng-repeat="feature in device.features | orderBy : 'displayPriority'" feature="feature" device="$parent.device" class="feature">
                    </feature>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </div>
        <div ng-if="p.devices.length === 0" class="text-center">
            <i class="fa fa-fw fa-battery-empty fw-lg" aria-hidden="true"></i> No devices here.
        </div>
    </md-list>
</md-content>
