<md-content flex layout="column">
    <md-list>
        <div ng-repeat="device in vm.devices | orderBy : 'displayPriority'">
            <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                    <h2>
                        <span ng-if="::device.displayIcon" class="fa fa-fw" ng-class="::device.displayIcon"></span>
                        {{device.displayName}}
                    </h2>
                    <h3>{{vm.friendlyDate(device.lastOnline)}}</h3>
                </div>
            </md-list-item>
        </div>
        <div ng-if="vm.devices.length === 0" class="text-center">
            <i class="fa fa-fw fa-battery-empty fw-lg" aria-hidden="true"></i> No devices here.
        </div>
    </md-list>
</md-content>
