<md-content flex layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="deviceForm" ng-submit="vm.save(deviceForm)">

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Display Name</label>
                        <input required
                               md-maxlength="32"
                               name="displayName"
                               ng-model="vm.device.displayName"/>

                        <div ng-messages="deviceForm.displayName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The display name must be less than 32 characters long.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Icon</label>
                        <md-select required name="displayIcon" ng-model="vm.device.displayIcon">
                            <md-option ng-repeat="icon in vm.displayIcons" value="{{icon}}">
                                <span class="fa fa-fw" ng-class="::icon"></span>
                            </md-option>
                        </md-select>
                        <div ng-messages="deviceForm.displayIcon.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Partition</label>
                        <md-select required name="partitionId" ng-model="vm.device.partition.id">
                            <md-option ng-repeat="partition in vm.partitions" value="{{partition.id}}">
                                {{partition.displayName}}
                            </md-option>
                        </md-select>
                        <div ng-messages="deviceForm.partitionId.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div>
                    <md-button class="md-raised md-primary" ng-disabled="deviceForm.$invalid" type="submit">Save
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>

</md-content>
