CompactNamespaces: true
NamespaceIndentation: Inner
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: true
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
